@model IEnumerable<WebBanGiay.Models.Discount>

@{
    ViewBag.Title = "Giảm Giá";
    ViewBag.Active = "GiamGia";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Giảm giá /</span> Danh sách</h4>
<p class="createNew">
    @*@Html.ActionLink("Create New", "Create" )*@
    <a href="~/Admin/GiamGia/Create">
        <button type="button" class="btn btn-primary">Thêm mới</button>
    </a>
</p>
<div class="card">
    <h5 class="card-header">Table Basic</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Mã giảm giá</th>
                    <th>Số lượng</th>
                    <th>Phần trăm</th>
                    <th>Trạng thái</th>
                    
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <i class="fab fa-angular fa-lg text-danger me-3"></i>
                            <strong> @Html.DisplayFor(modelItem => item.Discount_Code)</strong>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Discount_Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.Discount_Percent)</td>



                        <td>
                            @if (Convert.ToInt32(item.Type) == 1)
                            {
                                <span class="badge bg-label-success me-1">Bật</span>
                            }
                            else
                            {
                                <span class="badge bg-label-warning me-1">Tắt</span>
                            }

                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Discount_Id }) |
                            @*@Html.ActionLink("Xóa", "Delete", new { id = item.Discount_Id })*@
                            @{ 
                                string url = Url.Action("Delete", "GiamGia", new { id = item.Discount_Id });
                            } 
                            <a onclick="confirmDelete('@url')" href="javascript:void(0);">Xóa</a>
                        </td>

                    </tr>
                }
                

            </tbody>
        </table>
    </div>
</div>

@section Script{
    <script type="text/javascript">
        

        function confirmDelete(url) {
            if (confirm("Are you sure you want to delete this item?")) {
                window.location.href = url;
            }
        }
    </script>
}
