﻿﻿
@{
    ViewBag.Title = "Login";
    ViewBag.Page = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img style="width:569px; height:500px" class="img-fluid" src="~/Content/assets/img/login-img.png" />
                    <div class="hover">
                        <h4>Bọn là thành viên mới?</h4>
                        <p>Đăng ký tài khoản để nhận nhiều ưu đãi nhé</p>
                        <a class="primary-btn" href="/Account/Create">Đăng ký tài khoản</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Đăng nhập</h3>
                    <form class="row login_form" action="Login" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="user" placeholder="Tên đăng nhập/Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tên đăng nhập/Email'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="password" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu'">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Lưu thông tin đăng nhập</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Đăng nhập</button>
                            <a href="#">Quên mật khẩu</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->